.mcqBox.gitQuestion(id=question.id, data-config=JSON.stringify(question), data-id=question.id)
	.container-fluid
		.MCQtitle!=question.title
		
		blockquote
			p.hint_message
			-var alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
			-for(var i=0; i<question.count; i++)
				label.radio-inline
					input(name=question.id+"_group", type="radio")
					b #{alphabet[i]}. 
					.MCQoption(class='ansHere'+i)
				br

			.MCQbutton
				button.btn.btn-default.btn-sm.submitMCQ Submit
				-if(question.hint)
					button.btn.btn-default.btn-sm.hintMCQ Hint

		.alert.MCQmessage
		.MCQdescription
