blockquote
	!=question.title

	-var alphabet = ['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']
	-var invertedAlphabet = ['ɐ', 'q', 'ɔ', 'p', 'ǝ', 'ɟ', 'ƃ', 'ɥ']

	ul
		each option, i in question.option
			li #{alphabet[i]}. #{option.body}
			
			if option.id === question.ans
				-ans=invertedAlphabet[i]

	if(question.hint)
		small (Hint: #{question.hint})
	
	br
	small(style='color:grey;') #{ans}:ɹǝʍsuɐ
